services:
  postgres:
    image: postgres:15
    container_name: sanad_task
    environment:
      POSTGRES_USER: sanad
      POSTGRES_PASSWORD: sanad
      POSTGRES_DB: sanad_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data_dev:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres -d nest_db" ]
      interval: 3s
      timeout: 3s
      retries: 10

  pgadmin:
    image: dpage/pgadmin4:7
    container_name: nest_pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "8080:80"
    depends_on:
      - postgres
    restart: always

  backend:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: sanad_backend_dev
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
    env_file:
      - ./backend/.env
    depends_on:
      postgres:
        condition: service_healthy
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    container_name: sanad_frontend_dev
    ports:
      - "4200:4200"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    env_file:
      - ./frontend/.env
    depends_on:
      - backend

volumes:
  postgres_data_dev:
